.nav-item{
    margin-left: 15%;
    /* border: 1px solid; */
}
@media (min-width:0px) and (max-width:1200px) {
    .div{
        display: none;
    }
    
}
#a1:hover{
    border-bottom: 1px solid black;
}
label {
    font-weight: 600;
    color: #666;
}
.container {
  background: #f1f1f1;
}
.box8{
  box-shadow: 0px 0px 5px 1px #999;
}
.mx-t3{
  margin-top: -3rem;
}
#c3{
    height: auto;
    /* border: 1px solid; */
    background-color: #F7F4EF;
}    
#king{
    height: 100px;
}
#c3 a{
   color: gray;
   padding: 1%;
}
#c3 a:hover{
    color: rgb(24, 196, 24);
}
#c3 p{
    color:black;
    font-size: 12px;
}
